html,
body {
  height: 100vh; /* fallback for browsers that do not support custom properties */
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden; /* https://stackoverflow.com/a/52019093  */
}

body {
  display: flex;
  flex-direction: column;
  /*
  background: url(/logo_watermark.svg) no-repeat center center fixed;
  background-size: contain;
  */
  background: url(/top-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
}

.card {
  background-color: rgba(255, 255, 255, .95);
}

.card-body {
  padding: .75rem;
}

/* main */
main[role="main"] {
  padding-bottom: 50px;
  flex-grow: 1 !important;
  width: 100%;
}

main[role="main"] > div:first-child {
  padding-top: 50px;
}

/* footer */
.footer {
  z-index: 999;
  background: linear-gradient(0deg, #fff, $footGradient 100%);
}
/* kitchen-sink */
ul,
li {
  list-style-type: none;
}
