html,
body {
  height: 100vh; /* fallback for browsers that do not support custom properties */
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden; /* https://stackoverflow.com/a/52019093  */
}

h1 {
  text-align: center;
  color: white;
}

.card {
  background-color: rgba(255, 255, 255, .95);
}

.card-body {
  padding: .75rem;
}

/* main */
main[role="main"] {
  padding-bottom: $footerHeight;
  flex-grow: 1 !important;
  width: 100%;
}

main[role="main"] > div:first-child {
  padding-top: $headerHeight;
  height: min-content;
  
  /* Interpolate: https://stackoverflow.com/a/20236515/1070215 */
  min-height: calc(100vh - #{$footerHeight}); 
}

main[role="main"] .container {
  background-color: rgba(0,0,0,.2);
  height: 100%;
}

/* footer */
.footer {
  z-index: 999;
  background: linear-gradient(0deg, rgb(255, 255, 255), $footGradient 100%);
}

/* kitchen-sink */
ul,
li {
  list-style-type: none;
}
