html,
body {
  height: 100%;
  overflow-x: hidden; /* https://stackoverflow.com/a/52019093  */
}

body {
  background: transparent;
  display: flex;
  flex-direction: column;
}

/* main */
main[role="main"] {
  /* padding: 0.3rem; */
  flex-grow: 1 !important;
  width: 100%;
}
/* footer */
.footer {
  z-index: 999;
  color: darkgray;
  background: #cbe18e77; /*linear-gradient(0deg, #cbe18e, $footGradient 100%); */
}
/* kitchen-sink */
ul,
li {
  list-style-type: none;
}
